{{ ansible_managed | comment }}

Director {
  Name = "{{ bareos_dir_hostname }}"
  Password = "[MD5]{{ bareos_dir_password | md5 }}"
  QueryFile = "{{ bareos_dir_queryfile }}"
  Maximum Concurrent Jobs = {{ bareos_dir_max_concurrent_jobs }}
  Messages = "{{ bareos_dir_message }}"
  TLS Enable = {{ bareos_dir_tls_enable | ternary('Yes', 'No') }}
  TLS Verify Peer = {{ bareos_dir_tls_verify_peer | ternary('Yes', 'No') }}
}
