{{ ansible_managed | comment }}

{% if item.enabled is defined and item.enabled or item.enabled is not defined %}
Job {
  Name = "{{ item.name }}"
  Description = "{{ item.description }}"
  Pool = "{{ item.pool }}"
  Type = "{{ item.type }}"
  Client = "{{ item.client }}"
  FileSet = "{{ item.fileset }}"
  Storage = "{{ item.storage }}"
  Messages = "{{ item.messages }}"
}
{% else %}
# This file is not enabled.
{% endif %}
