# {{ ansible_managed }}

Messages {
  Name = "{{ item.name }}"
  Description = "{{ item.description }}"
  operatorcommand = "{{ item.operatorcommand }}"
  mailcommand = "{{ item.mailcommand }}"
  operator = {{ item.operator }}
  mail = {{ item.mail }}
  console = {{ item.console }}
{% if item.append is defined %}
  Append = "{{ item.append.file }}" = {{ item.append.messages | join(', ') }}
{% endif %}
  catalog = {{ item.catalog }}
}
