# {{ ansible_managed }}

Messages {
  Name = "{{ item.name }}"
  Description = "{{ item.description }}"
  operatorcommand = "{{ item.operatorcommand }}"
  mailcommand = "{{ item.mailcommand }}"
  operator = {{ item.operator }}
  mail = {{ item.mail }}
  console = {{ item.console }}
  append = {{ item.append }}
  catalog = {{ item.catalog }}
}
