{{ ansible_managed | comment }}

Profile {
  Name = "{{ item.name }}"
  JobAcl = "{{ item.jobacl | join('", "') }}"
  ClientAcl = "{{ item.clientacl | join('", "') }}"
  StorageAcl = "{{ item.storageacl | join('", "') }}"
  ScheduleAcl = "{{ item.scheduleacl | join('", "') }}"
  PoolAcl = "{{ item.poolacl | join('", "') }}"
  CommandAcl = "{{ item.commandacl | join('", "') }}"
  FileSetAcl = "{{ item.filesetacl | join('", "') }}"
  CatalogAcl = "{{ item.catalogacl | join('", "') }}"
  WhereAcl = "{{ item.whereacl | join('", "') }}"
  PluginOptionsAcl = "{{ item.pluginoptionsacl | join('", "') }}"
}

