Profile {
  Name = {{ item.name }}
  JobAcl = {{ item.jobacl }}
  ClientAcl = {{ item.clientacl }}
  StorageAcl = {{ item.storageacl }}
  ScheduleAcl = {{ item.scheduleacl }}
  PoolAcl = {{ item.poolacl }}
  CommandAcl = {{ item.commandacl }}
  FileSetAcl = {{ item.filesetacl }}
  CatalogAcl = {{ item.catalogacl }}
  WhereAcl = {{ item.whereacl }}
  PluginOptionsAcl = {{ item.pluginoptionsacl }}
}

