Profile {
  Name = {{ item.name }}
  JobAcl = {{ item.job_acl }}
  ClientAcl = {{ item.client_acl }}
  StorageAcl = {{ item.storage_acl }}
  ScheduleAcl = {{ item.schedule_acl }}
  PoolAcl = {{ item.pool_acl }}
  CommandAcl = {{ item.command_acl }}
  FileSetAcl = {{ item.fileset_acl }}
  CatalogAcl = {{ item.catalog_acl }}
  WhereAcl = {{ item.where_acl }}
  PluginOptionsAcl = {{ item.plugin_options_acl }}
}

