Storage {
  Name = "{{ item.name }}"
  Address = "{{ item.address }}"
  Password = "{{ item.password }}"
  Device = "{{ item.device }}"
  Media Type = "{{ item.media_type }}"
  tls_enable = {{ item.tls_enable | ternary('Yes', 'No') }}
  tls_verify_peer = {{ item.tls_verify_peer | ternary('Yes', 'No') }}
}
